version: '3.4'

services:
  catalogapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=80
      - "DatabaseSettings__ConnectionString=mongodb://catalogdb:27017"
    ports:
      - "8000:80"
    depends_on: 
      - catalogdb
    container_name: catalogapi 

  catalogdb:
    container_name: catalogdb
    ports:
     - "27017:27017"
    volumes:
     - "mongo_data:/data/db"